# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environment
.venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Models
/models/*.pkl

# OS files
.DS_Store
*.log

# Data
/data/raw/
